/* Hojas de estilo principal*/

h1{
	color : teal;
	font-size: 2em;
	text-align: center;
}
a{
	text-decoration:none;
	color:#fff;
}
a:hover{
	color: orange;
	font-weight: 600;
}

.fas fa-eye{
	color:green;
}

nav{
	background-color: teal;
	color: white;
	border-top: 5px solid #03A9F4;
	border-bottom: 5px solid #03A9F4;
	padding: 20px 10px;
}

input[type="text"]:valid, input[type="password"]:valid{
	color: green;
}
input[type="text"]:invalid, input[type="password"]:invalid{
	color:red;
	border-botton: 1px solid red;
}



.ahorcado{
	border: 1px solid red;
	width: 75px;
	height: 100px;
	overflow: hidden;
	background-image: url('../img/ahorcado.jpg');
	background-position-x: 616px; 
	}
.fallo1{
	background-position-x: 526px; 
}
	