* {
    margin: 0px;
    padding: 0px;
}

nav, header {
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

nav {
    position: relative;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul { /* Primer nivel de los menús */
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul { /* Segundo nivel de los menús aparece a la derecha */
    right: -140px;
    top: 0px;
}