body {
    width: 80%;
    margin: auto;
}
section {
    background-color: #D3D3D3;
    border: 1px solid #000;
    margin-bottom: 1em;
    padding: 1em 3em;
}

span, .bloque {
    background-color: #F00;
    padding: 0.5em;
}

section img {
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
}

.box {
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 33%;
    height: 200px;
    background-color: #00F;

}

.relativa {
    background-color: #FFA500;
    position: relative;

}

.absoluta {
    background-color: #FFA500;
    position: absolute;
    left: 250px;
}

.ir-arriba {
    display:none;
	padding:1em;
	background:#024959;
    font-size:20px;
    color: #FFF;
	cursor: pointer;
	position: fixed;
	bottom:1em;
	right:1em;
}