#titulo {
    color: #008080;
}

#subtitulo,
caption,
a em {
    color: #00F;
}

#adicional {
    color: #808000;
}

#adicional p a,
td {
    color: #008800;
}

#especial {
    color: #FF00FF;
}

th.especial,
td strong,
.destacado {
    color: #FFA500;
}

th,
a,
strong {
    color: #F00;
}

.especial {
    color: #800080;
}

table,
th,
td {
    border: 1px solid #000;
    border-collapse: collapse;
}