*{
    margin: 0;
    padding: 0;
}

body{
    background-color: teal;
}

.main-content{
    background-color: #fff;
    /*width: 1024px;*/  
    width: 80%;
    margin: auto;
    min-height: 100vh;
    padding: 1em;
}

h1{
    text-align: center;
}

.container{
    background-color: #88499C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.container div {
    padding: 1em;
    background-color: #E77F24;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    width: 30%;

}

/**/
.flex-container {

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  