*{
    margin: 0;
    padding: 0;
}

body{
    background-color: teal;
}

.main-content{
    background-color: #fff;
    /*width: 1024px;*/  
    width: 80%;
    margin: auto;
    height: 100vh;
    padding: 1em;
}

h1{
    text-align: center;
}

.container{
    padding: 3em;
    background-color: #88499C;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: baseline;
}

.container div {
    padding: 1em;
    background-color: #E77F24;
    color:#fff;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: .2em;
    width: 33%;
}