/*Hoja de estilos propia*/
.botones-idioma:active{
 	background-color: orange;
 }
 
 .badge{
 	font-size: 25px !important;
 }
 
 .panel-tabla{
 	margin-top: 20px;
 }
 
 .comentarioCorto{
	overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    height: 20px;
    white-space: nowrap;
}

.over-hand:hover{
	cursor: pointer;
}

.modal-body{
	overflow-y: auto;
	max-height: 50vh;
}