*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
header{
    /* width: 100%; */
    background: url("../images/fondo_encabezado.png") left top repeat;
}
.cabecera{
    width: 1000px;
    display: inline-block;
    position: relative;
    padding-right: 5em;
}
.cabecera .idiomas{
    position: absolute;
    top: 0;
    right: 0;
}
.cabecera .idiomas a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: .75em;
    padding: .25em;
    color: #000;
    background-color: olive;
}

