body{
	margin:auto;
	
}



footer{
	width: 100%; 
	/*position:absolute;*/
	bottom: 0px;
	
}
label{
	width: 100%;
	text-align: center;
}

.center-button{
	margin:auto;
	text-align: center;
}

.formularioAlta{
	margin:auto;
	width: 50%;
	min-height:500px;
	display: flex;
	align-items: center;	
	
}

.container{
	position:relative;
}

.row {
	min-height: 65vh;
}
.col{
	border:1px solid black;
	box-shadow: 5px 10px #343A40;
}

@media (max-width: 736px) {

footer{
	margin-top:1px;
	width: 100%; 
	/*añadido debido a que el footer se volvia loco en estas resoluciones*/
	position:relative;
}	

}
