i{
	color: #FFF;
}

ul.idioma a{
	text-decoration: none;
	padding: 5px;
	color: #FFF;
}

ul.idioma li.active a{
	color: #ffc107!important;
	text-decoration: underline;	
}	

div.botonCrear{
	margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px;
    padding: 1em;
}


td{
	text-align: center;
}
