i{
	color: #FFF;
}
#idioma li a{
	color:#FFF;
	margin-right:5px;	
}

#idioma li a:hover{
	color:#ffc107;
	text-decoration: none;	
}

img.logo{
	max-width: 40px;
	padding:auto;
	margin-right:5px;
}

input.recuerdame{
	margin-right:7px;
}

label.text-warning{
	margin-right: 7px;
	padding: auto;
}

