body{
	overflow-x:hidden;
}
#iframe{
	width: 100%;
	height: 350px;
}
#logo{
	width:100px;
	height: 100px; 
}

.bg-pika{
	background-color: #5C72FC;
}
.bg-pika-red{
	background-color: #FC5C72;
}
.text-pika{
	color: 	#72FC5C;
}
.text-pika-red{
	color: 	#FC5C72;
}
a.text-pika:hover{
	color: 	#72FC5C !important;
	opacity: .5;
}
.btn-outline-pika {
    color: #72FC5C;
    border-color: #72FC5C;
}
.btn-outline-pika:hover {
    color: #000;
    background-color: #72FC5C;
    border-color: #72FC5C;
}
.list-group-item:hover{
	background-color: #C6FDBD;
}
.fondo-login{
	background:url("../images/logo.png");
	
}
.fondo-login>div{
	background-color: rgba(0,0,0,.7);
	padding: 1em;
}