body{
	overflow-x:hidden;
}

#logo{
	width:100px;
	height: 100px; 
}

.bg-pika{
	background-color: #5C72FC;
}
.bg-pika-red{
	background-color: #FC5C72;
}
.text-pika-red{
	color: 	#FCE65C;
}
.text-pika-red:hover{
	color: 	#FCE65C !important;
}
li.nav-item a img{
	margin: 0.25em;
}
.text-pika{
	color: 	#72FC5C;
}
a.text-pika{
	margin: .75em;
}
a.text-pika:hover{
	color: 	#72FC5C !important;
}
.btn-outline-pika {
    color: #72FC5C;
    border-color: #72FC5C;
}
.btn-outline-pika:hover {
    color: #000;
    background-color: #72FC5C;
    border-color: #72FC5C;
}
.list-group-item:hover{
	background-color: #C6FDBD;
}
/******
*	Pantalla de Login
***********************************************************/
.fondo-login{
	background:url("../images/logo.png");
	
}
.fondo-login .row{
	padding: 15em;
}
.fondo-login .fondo-login-form{
	background-color: rgba(0,0,0,.7);
	padding: 1em;
	border-radius:.25em;
}
.fondo-login-form h1, .fondo-login-form small, .fondo-login-form i, .fondo-login-form label{
	color: 	#72FC5C;
}