/* Estilos generales */

body{
	color:#868686;
}

img{
	max-width:100%;	
}

/* Estilos para el menú del login */

.menu{
	border-bottom:1px solid #0C2661;
	padding:1em;
}

.menu a.center{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

/* Estilos para el formulario de login */

.container-login{
	margin-bottom:3em;
}

.card{
	border-color:#72C7DC !important;
}

.card-container{
	padding:1em;
	margin:0 auto;
	max-width:300px;	
}

.card-container img{
	width:150px;
	height:150px;
	border-radius:75px;
	margin:0 auto;
}

.form-login input{
	margin-bottom:1em;
}

.form-login button{
	background-color:#fff;
	border-color:#0C2661;
	color:#0C2661;
}

.form-login button:hover{
	background-color:#0C2661;
	color:#fff;
}

/* Estilos para el footer */

.footer{
	border-top:1px solid #0C2661;
	padding:1em;
	padding-top:2em;
}

.footer p{
	text-align:center;
}




