.ahorcado {
	margin: auto;
	border: 3px solid teal;
	width: 75px;
	height: 100px;
	overflow: hidden;
	background-image: url(../img/ahorcado.jpg);
}

.fallo0 {
	background-position-x: 616px;
}

.fallo1 {
	background-position-x: 539px;
}

.fallo2 {
	background-position-x: 462px;
}

.fallo3 {
	background-position-x: 385px;
}

.fallo4 {
	background-position-x: 308px;
}

.fallo5 {
	background-position-x: 231px;
}

.fallo6 {
	background-position-x: 154px;
}

.fallo7 {
	background-position-x: 77px;
}