/*Tags
******************************************************/
body{
    font-family: 'Roboto Slab', serif;
}

/*Layouts
******************************************************/

.required::before{
	content: "* ";
	color: #F00;
}

.container{
	margin-bottom: 2rem;
}