/*Tags
******************************************************/
body{
    font-family: 'Roboto Slab', serif;
}

/*Layouts
******************************************************/

.required::before{
	content: "* ";
	color: #F00;
}