.contenedor{
	padding-top:1em!important;
	position:relative!important;
	overflow:auto;
}

.menuHorizontal{
	position:relative;
}

.cerrarSesion{
	position:absolute;
	right:15px;
}

.btn-crear{
	text-align:right;
}

.buscador{
	margin-bottom:3em;
	margin-top:1em;
}

.titulo{
	margin:0.5em 0;
	padding-bottom:0.5em;
}

.nUsuarios{
	background-color:#428bca;
	padding: 0.5em 0.7em;
}

.nVideos{
	background-color:#D9534F;
	padding: 0.5em 0.7em;
}

.nRoles{
	background-color:#5CB85C;
	padding: 0.5em 0.7em;
}

.nComentarios{
	background-color:#F0AD4E;
	padding: 0.5em 0.7em;
}

.video{
	color:#D9534F;
}

.video:hover{
	color:	#8B0000;
}

.rol{
	color:#5CB85C;
}

.rol:hover{
	color:#006400;
}

.comentario{
	color:#F0AD4E;
}

.comentario:hover{
	color:#EC971F;
}

.dashboard{
	color:#808080;
}

.dashboard:hover{
	color:#383838;
}

.panel-footer{
	background-color:#fff;
}

.thumbnail{
	width:150px;
	padding:0;
}

.eliminarVideo{
	color:#fff;
	background-color:#696969;
}

.eliminarVideo:hover{
	color:#fff;
	background-color:#333;
}

.eliminarVideo:focus{
	color:#fff;
}

.comentario-texto{
	background-color:transparent!important;
	resize:none;
	overflow:hidden;
}

.comentario-texto:hover{
	cursor:pointer;
}

.boton-aprobar{
	position:absolute;
	top:2em;
	right:1em;
}

.titulo-tabla-comentario{
	margin-bottom:2em;
}

.checkComentario{
	transform:scale(3);
}

.col-lg-5{
	width:20%;
}

.modal-title{
	display:inline;
}

#cabeceraModal span{
	color:#F0AD4E;
}

.modal-body{
    max-height: 50vh;
    overflow-y: auto;
}

@media only screen and (max-width: 768px) {
	.cerrarSesion{
		position:static;
	}
}
