@charset "ISO-8859-1";
/* Hoja de estilos del ahorcado */

body {	
	background-color: black;
	color: white;
}

h1, h2 {
	color: teal;
	font-size: 1.8em;
	text-align: center;
	padding: 5px;
}

form {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

label {
	text-align: center;
}

.texto {
	display: block;
	margin: auto;
	padding: 5px;
}


div {
	border = 2px solid red;
	width: 150px;
	height: 200px;
	overflow: hidden;
	background-image: url("../img/ahorcado.jpg");
	background-size: cover;
}

.fallo0 {
	background-position-x: 1230px;	
}
.fallo1 {
	background-position-x: 1072px;	
}
.fallo2 {
	background-position-x: 912px;	
}
.fallo3 {
	background-position-x: 762px;	
}
.fallo4 {
	background-position-x: 610px;	
}
.fallo5 {
	background-position-x: 458px;	
}
.fallo6{
	background-position-x: 306px;	
}
.fallo7 {
	background-position-x: 152px;	
}

div{
	margin: auto;
	text-align: center;
}


.text-danger {
	color: red;
	margin: auto;
	display: block;
	text-align: center;
}