@charset "ISO-8859-1";
/* Hoja de estilos del ahorcado */

body {
	
	background-color: black;
	color: white;
}

h1 {
	color: teal;
	font-size: 2em;
	text-align: center;
}

form {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.texto {
	display: block;
}


#ahorcado {
	border = 1px solid red;
	width: 75px;
	height: 100px;
	overflow: hidden;
	background-image: url("../img/ahorcado.jpg");
	background-position-x: 616px;
}

.fallo1 {
	background-position-x: 616px;	
}

.fallo1 {
	background-position-x: 539px;	
}

.fallo2 {
	background-position-x: 462px;	
}

.text-danger {
	color: red;
}