/* Hoja de Estilos Principal */
p{
	color: red;
}



h1{
	text-align: center;
	color: teal;
	font-size: 2em;
}

#identi{
	color: pink;
}

.text-danger{
	color:red;
}

.text-danger:before{
	content: "***"
}	

.text-danger:after{
	content: "!!!"
}	

.ahorcado{
	border: 1px solid red;
	width: 238px;
	height: 300px;				
	overflow: hidden;
	background-image: url('../img/ahorcado.jpg');
	
	
}
.fallo0{
	border: 1px solid red;
	width: 238px;
	height: 300px;				
	overflow: hidden;
	background-image: url('../img/ahorcado.jpg');
	background-position-x: 616px;
}

.fallo1{
	border: 1px solid red;
	width: 238px;
	height: 300px;				
	overflow: hidden;
	background-image: url('../img/ahorcado.jpg');
	background-position-x: -1200px;
}

.fallo2{
	border: 1px solid red;
	width: 238px;
	height: 300px;				
	overflow: hidden;
	background-image: url('../img/ahorcado.jpg');
	background-position-x: -960px;
}
.fallo3{
	border: 1px solid red;
	width: 238px;
	height: 300px;				
	overflow: hidden;
	background-image: url('../img/ahorcado.jpg');
	background-position-x: -720px;
}
.fallo4{
	border: 1px solid red;
	width: 238px;
	height: 300px;				
	overflow: hidden;
	background-image: url('../img/ahorcado.jpg');
	background-position-x: -480px;
}
.fallo5{
	border: 1px solid red;
	width: 238px;
	height: 300px;				
	overflow: hidden;
	background-image: url('../img/ahorcado.jpg');
	background-position-x: -240px;
}
.fallo6{
	border: 1px solid red;
	width: 238px;
	height: 300px;				
	overflow: hidden;
	background-image: url('../img/ahorcado.jpg');
	background-position-x: 0px;
}