/*
********************************************
*	Hoja de Estilos Principal
* 	Adrian Perozzo
* 	Version 1.0
*	Fecha: 26/09/2018
********************************************
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header{
	background-color:#88CC88;
}
header nav ul{
	padding:1.5em;
	list-style: none;
	display: inline-block;
}
header nav ul li{
	padding:.5em;
	background-color: #77CC77;
}
header nav ul li a{
	display: inline-block;
	
}
/*****
* Login
************************************************/
.form-login{
	width:100%;
	background: url("../images/fondo_login.png") fixed center;
	background-size: contain;
	padding: 5em;
}
.form-login-container{
	width:300px;
	height:300px;
	border-radius:50%;
	background-color: rgba(0,0,0,.5);
	display: inline-block;
	position: relative;
	left: 30%;
	padding-top:2.15em;
}
.form-login-container *{
	margin:auto;
	text-align:center;
	display: block;
}