####################################################
# lista de ficheros y directorios ignorados por GIT
####################################################

/.classpath
/.project
/.settings/
/target/
