* {
	margin: 0;
	padding: 0;
}



html, body {
	min-height: 100vh;
}

h1{
	text-align: center !important;
}

input{
	margin-bottom: 10px;
}

body, ul, li {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #222;
}

ul {
	background: #333;
	min-width: 10vh;
	min-height: 100%;
	box-sizing: border-box;
	position: fixed;
}

li {
	list-style-type: none;
	padding: 10px 0 10px 0px;
	border-bottom: 1px solid #222;
	transform: translateY(55px);
	text-align: center;
	cursor: pointer;
}

a {
	color: #aaa;
	text-decoration: none;
	padding: 10px 10px;
	cursor: pointer;
}

label {
	text-transform: capitalize;
}

li:hover, .active {
	background: #5885FC;
	opacity: 0.6;
}

img {
	width: 30px;
	opacity: 0.6;
}

li:hover img, .active img {
	opacity: 1;
}

table {
	width: 100%;
}

#tablaOrdenable_wrapper {
	
	width: 100%;
}
.row {
	margin-left: 40px;
}

.alert {
	width: 100%;
}