body{
    background-color: #F8F9FA;
}

.row header{
	background-color: #2FFF54;
	min-height: 50px;
}

.main div section{
	background-color: #000000;
	color: #FFF;
	min-height: 200px;
}

.d-none.d-xl-block h5{
	color:pink;
}

.d-none.d-md-block.d-xl-none h5{
	color:yellow;
}

.d-block.d-md-none{
	color: white;
}

.main div aside{
	background-color: red;
	min-height: 200px;
}

.destacados div{
	background-color: #0040FF;	
	min-height: 150px;
}

.row footer{
	background-color: #000000;
	color: #FFF;
	min-height: 50px;
}

.card-footer{
	background-color: #FFF;
    border-top: none;
}

canvas { 
	background: #eee; display: block; margin: 0 auto; 
}

.required::before{
	content: "*";
	color: red;
}

div .star{
	color: yellow; important!
}