

body {
  min-height: 75rem;
  padding-top: 4.5rem;
  background-color: #525252;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.header {
	background:#9BCA46;
	color:#FFF;
	margin-bottom: 1em;
}

.main {
	background:#FFF;
	color:#000;
}

.aside {
	height: 200px;
	background:#DEE4E5;
	color: #42A3F1;
}

.destacados {
	margin-top: 1em;
	margin-bottom: 1em;
}

.footer {
	background:#000;
	color:#FFF;
}

.titulo {
	text-transform: uppercase;
	font-size: 2em;
}

.destacado {
	background: #42A3F1;
	color:#FFF;
}

.card {
	border-bottom: 10px;
}

.card-footer {
	background: none;
	border-top: none;
}

.card-img-top {
	height: 50% !important;
}

.discount {
	height: 50px;
	width: 50px;
}

label.obligatorio:before {
	content: "*";
	padding-right: 3px;
}

<!-- CHECKBOX -->
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

#discount {
	height: 10px;
	width: 10px;
}
