/*
*  Estilos Propios
*/

body{ 
	background-color: #F8F9FA;
}	

.navbar-brand img{
	width:100px;
	height:50px;
}

.dropdown-item:hover{
	color:#fff;
	background-color:#343A40;
}

canvas{
	background: #eee; 
	display: block; 
	margin: 0 auto;
}

#obligatorios-txt{
	font-style:italic;
}

label.required::before{
	content:"*";
	color:#f00;
	padding-right:3px;
}

.card{
	position:relative;
	/*margin:0 auto;*/
}

.card-custom-header{
	position:relative;
}

.cabecera-carta{
	padding:0;
	height:9em;
	border:none;
}

.fa-gift{
	position:absolute;
	right:10px;
	top:10px;
	color:#007BFF;
}

.card .badge{
	position:absolute;
	right:10px;
	bottom:10px;
	padding:5px 10px;
	font-size:1.2em;
}

#listado-publico-h1{
	margin-bottom:1em;
}

.listado-publico .card-deck{
	margin-bottom:2em;
}

.listado-publico .card-header{
	position:relative;
}

.listado-publico .oferta{
	position:absolute;
	top:10px;
	right:10px;
	height:50px;
	width:50px;
}

