/*
*Custom Styles
*/

body{
	background-color: #F8F9FA;
}
header{
	background-color: #0431B4;
}
section{
	background-color: #DA81F5;
	height: 20em;
	
}
aside{
	background-color: #FE642E;
	height: 20em;
}
.rojo{
	background-color: #DF013A;
	height: 10em;
}
footer{
	background-color: #1ec0ff;
	height: 4em;;
}

