@import(navbar.css);
body{
	height: 100%;
	width: 100%;	
	margin:auto;
	background: #EFF1F3;
}
header {
	background:#9BCA46;
	color:#fff;
	height:100px;
	width:100%;
		
}
footer {
	height:150px;
	background: #181818;
	width: 100%;
}
canvas { 
	background: #eee;
	display: block;
	margin: 0 auto;
}
footer > div {
	color:white;
}
aside {
	background:#DEE4E5;
	color:#678AB4;
	margin-top:30px;
}
img{
	height: 200px;
	
}


/* .login > label{
	width: 75px;
	margin:auto;
} */
.card-custom-header-temp i.fas{
	position: absolute;
	top10px;
	right:10px;
	
}
 .card .badge-temp{
	position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 1.2em;
}
.card-custom-header{
	position: relative;
}
 .card .badge{
	position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 1.2em;
}

.container{
	width: 60%;
}

.index{
	width:80%;
}
.main {
	background:#f2f2f2;
}

.color1 {
	background: #34495e;
	color:#fff;
}


label.obligatorio:before{
	content: "*";	
    padding-right: 3px;
}

.card-footer {
    padding: .75rem 1.25rem;
    background: white;
    /* background-color: rgba(0,0,0,.03); */
    /* border-top: 1px solid rgba(0,0,0,.125); */
}
#article{
	height:300px;
	margin-top: 15px;	
	
}

#tresColumnas{
	height:auto;
	width:auto;
	margin-top: 15px;
	margin-bottom: 15px;
	
		
}
#tresColumnas > div{
	
	border: 1px solid black;
	background: #2195EE;	
}
#article > div[class^="col-8"]{
	background: white;
}

#article > div[class^="col-4"]{
	background: #DEE4E5;
	height: 50%;
	line-height: normal;
	margin-top: 70px;
}



/* @media  (max-width: 1074px) {

#tresColumnas{
	display:flex;
	flex-direction: column;
	
} */
#tresColumnas > div[class^="col-3"]{
	height: 100%;
}

@media (min-width: 220px) and (max-width: 1200px) {
.container{
	width: 100%;
}

aside h2,p{
	font-size: 15px;
}

@media  (max-width: 768px) {
.container{
	width: 90%;
}

#article > div[class^="col-4"] {
	
    margin-top: 0px;
}
aside h2,p{
	font-size: 13px;
}


#tresColumnas {
	background: black;
	margin-top:88px;
}

@media (min-width: 220px) and (max-width: 419px) {
.container{
	width: 100%;
}

aside h2,p{
	font-size: 9px;
}
@import url('navbar.css');



