/*Hoja de estilos propia*/
.botones-idioma:active {
	background-color: orange;
}

.required::before {
	content: "*";
	color: #f00;
}


/*Formulario comentario
*************************************+*/
.form-comentario textarea{
	width: 85% !important;
}

/* .form_comentario input[type="submit"]{ */
/* 	height: 44vh; */
/* } */